<header class="header">
    <div class="header-top">
        <div class="grid">
            <nav class="header-top-navbar">
                <ul class="header-top-list">
                    <li class="header-top-navbar__item navbar__item navbar__item--has-qr navbar__item--separate">
                        GEMSTONE VN
                        <!-- Navbar QR Code -->
                        <div class="navbar__qr">
                            <img src="../assets/img/png/header.png" alt="QR code" class="navbar__qr-img">
                            <div class="navbar__qr-apps">
                                <a href="" class="navbar__qr-link">
                                    <img src="assets/img/google_play.png" alt="Google Play"
                                        class="navbar__qr-dowload-img">
                                </a>
                                <a href="" class="navbar__qr-link">
                                    <img src="assets/img/app_store.png" alt="App Store" class="navbar__qr-dowload-img">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="header-top-navbar__item header-top-navbar__mobile">-</li>
                    <li class="header-top-navbar__item header-top-navbar__mobile">HOTLINE : 0909029292</li>
                </ul>
                <ul class="header-top-list">

                    <li class="header-top-navbar__item header-top-navbar-notify">
                        <a href="" class="header-top-icon-link">
                            <img class="header-top-navbar-icon" src="../assets/img/png/facebook.png" alt="">
                        </a>
                        <div class="header-navbar-notify">
                            <h5>Follow on Facebook</h5>
                        </div>
                    </li>

                    <li class="header-top-navbar__item header-top-navbar-notify">
                        <a href="" class="header-top-icon-link">
                            <img class="header-top-navbar-icon" src="../assets/img/png/instagram.png" alt="">
                        </a>
                        <div class="header-navbar-notify">
                            <h5>Follow on Instagram</h5>
                        </div>
                    </li>
                    <li class="header-top-navbar__item header-top-navbar-notify">
                        <a href="" class="header-top-icon-link">
                            <img class="header-top-navbar-icon" src="../assets/img/png/tw.png" alt="">
                        </a>
                        <div class="header-navbar-notify">
                            <h5>Follow on Twitter</h5>
                        </div>
                    </li>
                    <li class="header-top-navbar__item header-top-navbar-notify">
                        <a href="" class="header-top-icon-link">
                            <img class="header-top-navbar-icon" src="../assets/img/png/enve.png" alt="">
                        </a>
                        <div class="header-navbar-notify">
                            <h5>Send us an Email</h5>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- header main  -->
    <div class="header-main">

        <div class="grid">
            <label for="header-mobile-input" class="header__bars-btn">
                <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </label>
            <input type="checkbox" name="" class="header__input" id="header-mobile-input">
            <label for="header-mobile-input" class="header__overlay"></label>
            <div class="header-bottom__mobile">

                <label for="header-mobile-input" class="header-bottom__mobile-close">
                    <i class="fa-solid fa-xmark"></i>
                </label>
                <div class="header-has-search">
                    <input type="search" placeholder="  Tìm kiếm">
                    <button><i class="header-has-search-icon fa-solid fa-magnifying-glass"></i></button>
                </div>
                <nav class="header-bottom__mobile-navbar">
                    <ul class="header-bottom__mobile-list">
                        <li class="header-bottom__mobile__item">
                            <a href="" class="header-bottom__mobile-link">
                                <i class="header-bottom-list__mobile-icon fa-sharp fa-solid fa-house-chimney"></i>
                                <span class="header-bottom__mobile-text">HOME PAGE</span>
                            </a>
                        </li>
                        <li class="header-bottom__mobile__item header-bottom-has__notify">
                            <div href="" class="header-bottom__mobile-link">
                                <span class="header-bottom__mobile-text">PRODUCT</span>
                                <i class="header-bottom-list__mobile-icon select-input__icon fas fa-angle-down"></i>
                            </div>
                            <div class="header-bottom-mobile__notify">
                                <ul class="header-bottom-mobile__notify-list">
                                    <li class="header-bottom-mobile__notify-item" routerLink="/user/product"><a
                                            class="header-bottom__mobile-link">Dây chuyền </a></li>
                                    <li class="header-bottom-mobile__notify-item"><a class="header-bottom__mobile-link"
                                            href=""> Đá Qúy</a> </li>
                                    <li class="header-bottom-mobile__notify-item"><a class="header-bottom__mobile-link"
                                            href="">Nhẫn</a> </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-bottom__mobile__item">
                            <a href="" class="header-bottom__mobile-link">
                                <p class="header-bottom__mobile-text">ABOUT US</p>
                            </a>
                        </li>
                        <li class="header-bottom__mobile__item">
                            <a href="" class="header-bottom__mobile-link">
                                <i class="header-bottom-list__mobile-icon fa-regular fa-address-card"></i>
                                <span class="header-bottom__mobile-text">CONTACT</span>
                            </a>
                        </li>
                        <li class="header-bottom__mobile__item">
                            <a href="" class="header-bottom__mobile-link">
                                <i class=" header-bottom-list__mobile-icon fa-regular fa-newspaper"></i>
                                <span class="header-bottom__mobile-text">NEWS</span>
                            </a>
                        </li>
                        <!-- <li class="header-bottom__mobile__item">
                            <a href="" class="header-bottom__mobile-link">
                                <p class="header-bottom__mobile-text">PAY</p>
                            </a>
                        </li> -->
                    </ul>
                </nav>
            </div>
            <div class="header-main-logo">
                <img class="header-main__logo-img" src="../assets/img/png/logo.png" alt="">
            </div>

            <div class="header-main-category">
                <div class="header-main-list">
                    <div class="header-main__item">
                        <img class="header-main__item-img" src="../assets/img/png/header-phone.png" alt="">
                    </div>
                    <div class="header-main__item">
                        <p class="header-main__item-text">HOTLINE</p>
                        <p class="header-main__item-text">0999000000</p>
                    </div>
                </div>
                <div class="header-main-list">
                    <div class="header-main__item">
                        <img class="header-main__item-img" src="../assets/img/png/ship.png" alt="">
                    </div>
                    <div class="header-main__item">
                        <p class="header-main__item-text">FREESHIP</p>
                        <p class="header-main__item-text">Everywhere-Nationwide</p>
                    </div>
                </div>
                <div class="header-main-list">
                    <div class="header-main__item">
                        <img class="header-main__item-img" src="../assets/img/png/credit-card.png" alt="">
                    </div>
                    <div class="header-main__item">
                        <p class="header-main__item-text">PAYMENTS</p>
                        <p class="header-main__item-text">Flexible payment
                        </p>
                    </div>
                </div>
            </div>
            <div class="header__cart">
                <div class="header__cart-wrap">
                    <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                    <span class="header__cart-notice">3</span>

                    <!-- No cart:  header__cart-list--no-cart -->
                    <div class="header__cart-list">
                        <img src="assets/img/no-cart.png" alt="" class="header__cart-no-cart-img">
                        <span class="header__cart-list--no-cart-msg">
                            Chưa có sản phẩm
                        </span>

                        <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                        <ul class="header__cart-list-item">
                            <!-- Cart item -->
                            <li class="header__cart-item">
                                <img src="https://cf.shopee.vn/file/a9e9ae5cbcf2d3fab989cfdec235cfe0" alt=""
                                    class="header__cart-img">
                                <div class="header__cart-item-info">
                                    <div class="header__cart-item-head">
                                        <h5 class="header__cart-item-name">Gemstone malia japan</h5>
                                        <div class="header__cart-item-price-wrap">
                                            <span class="header__cart-item-price">2.000.000đ</span>
                                            <span class="header__cart-item-multipl">x</span>
                                            <span class="header__cart-item-qnt">3</span>
                                        </div>
                                    </div>
                                    <div class="header__cart-item-body">
                                        <span class="header__cart-item-discription">
                                            Phân loại:Bạc
                                        </span>
                                        <span class="header__cart-item-remove">xóa</span>
                                    </div>
                                </div>
                            </li>
                            <li class="header__cart-item">
                                <img src="https://cf.shopee.vn/file/a9e9ae5cbcf2d3fab989cfdec235cfe0" alt=""
                                    class="header__cart-img">
                                <div class="header__cart-item-info">
                                    <div class="header__cart-item-head">
                                        <h5 class="header__cart-item-name">Gemstone malia japan</h5>
                                        <div class="header__cart-item-price-wrap">
                                            <span class="header__cart-item-price">2.000.000đ</span>
                                            <span class="header__cart-item-multipl">x</span>
                                            <span class="header__cart-item-qnt">3</span>
                                        </div>
                                    </div>
                                    <div class="header__cart-item-body">
                                        <span class="header__cart-item-discription">
                                            Phân loại:Bạc
                                        </span>
                                        <span class="header__cart-item-remove">xóa</span>
                                    </div>
                                </div>
                            </li>
                            <li class="header__cart-item">
                                <img src="https://cf.shopee.vn/file/a9e9ae5cbcf2d3fab989cfdec235cfe0" alt=""
                                    class="header__cart-img">
                                <div class="header__cart-item-info">
                                    <div class="header__cart-item-head">
                                        <h5 class="header__cart-item-name">Gemstone malia japan</h5>
                                        <div class="header__cart-item-price-wrap">
                                            <span class="header__cart-item-price">2.000.000đ</span>
                                            <span class="header__cart-item-multipl">x</span>
                                            <span class="header__cart-item-qnt">3</span>
                                        </div>
                                    </div>
                                    <div class="header__cart-item-body">
                                        <span class="header__cart-item-discription">
                                            Phân loại:Bạc
                                        </span>
                                        <span class="header__cart-item-remove">xóa</span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <a routerLink="/user/CartPage" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a>
                    </div>
                </div>
            </div>
            <!-- <div class="header-main-cart">
                <div class="header-main__cart-money header-main-cart__reponsive ">
                    <ul class="header-main__cart-text">
                        <li> CART </li> /
                        <li>0 đ</li>
                    </ul>
                </div>
                <div class="header-main__cart-img">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div> -->
        </div>


    </div>

    <!-- header bottom -->
    <div class="header-bottom">
        <div class="grid">
            <nav class="header-bottom-navbar">
                <ul class="header-bottom-list">
                    <li routerLink="/user/Index" class="header-bottom__item">
                        <a class="header-bottom-link">
                            <img class="header-bottom-list-icon" src="../assets/img/png/home16.png" alt="">
                            <span class="header-bottom__item-text">HOME PAGE</span>
                        </a>
                    </li>
                    <li class="header-bottom__item header-bottom-has__notify">
                        <a href="" class="header-bottom-link">
                            <span class="header-bottom__item-text">PRODUCT</span>
                            <img class="header-bottom-list-icon expand-icon" src="../assets/img/png/expand.png" alt="">
                        </a>
                        <div class="header-bottom__notify">
                            <ul class="header-bottom__notify-list">
                                <li class="header-bottom__notify-item" routerLink="/user/product">Necklace

                                </li>
                                <li class="header-bottom__notify-item" routerLink="/user/product">Ring
                                </li>
                                <li class="header-bottom__notify-item" routerLink="/user/product">Gemstone
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-bottom__item">
                        <a routerLink="/user/intro" class="header-bottom-link">
                            <p class="header-bottom__item-text">ABOUT US</p>
                        </a>
                    </li>
                    <li class="header-bottom__item">
                        <a routerLink="/user/Contact" class="header-bottom-link">
                            <img class="header-bottom-list-icon expand-icon" src="../assets/img/png/contact162.png"
                                alt="">
                            <span class="header-bottom__item-text">CONTACT</span>
                        </a>
                    </li>
                    <li class="header-bottom__item" routerLink="/user/News">
                        <a class="header-bottom-link">
                            <img class="header-bottom-list-icon expand-icon" src="../assets/img/png/news.png">
                            <span class="header-bottom__item-text">NEWS</span>
                        </a>
                    </li>
                    <!-- <li class="header-bottom__item">
                        <a href="" class="header-bottom-link">
                            <p class="header-bottom__item-text">PAY</p>
                        </a>
                    </li> -->
                </ul>
            </nav>
            <div class="header__search__account">
                <div class="header-search">
                    <img class="header-search-icon" src="../assets/img/png/search24.png">
                    <div class="header-has-search">
                        <input type="search" placeholder="  Tìm kiếm">
                        <button>
                            <img class="header-has-search-icon " src="../assets/img/png/search24.png">
                        </button>
                    </div>
                </div>
                <div class="header__account">
                    <i class="fa-regular fa-user header__account-icon"></i>
                    <div class="header-has-account">
                        <div routerLink="/user/Login" class="header-has-account-item"> Log in</div>
                        <div routerLink="/user/Signup" class="header-has-account-item account__register">
                            Register
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>