<div class="information">
    <h2>Product List</h2>


    <div class="list ">

        <table class="">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>name</th>
                    <th>price</th>
                    <th>quantity</th>
                </tr>
            </thead>
            <tbody *ngIf="products">
                <tr *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: currentPage }">
                    <td>{{ product.id }}</td>
                    <td routerLink="ImportProducts/{{product.id}}">{{ product.title }}</td>
                    <td routerLink="ImportProducts/{{product.id}}">{{ product.price }}</td>
                    <td>{{ product.rating.rate }}</td>
                </tr>

            </tbody>
        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>

    <div class="information">
        <h2>Add product</h2>
        <div class="list add">
            <p> quantity {{ product?.rating?.rate }}</p>
            <input type="number">
        </div>
    </div>
</div>