/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'NTR', sans-serif;
}

@font-face {
    font-family: 'NTR';
    src: url('/Client/src/assets/Font/font_ntr ') format('truetype');
}