<div class="menu">
    <ul>
        <li class="item">manager<img src="/Client/src/assets/img/svg/arrow.svg">
            <ul class="none">
                <li routerLink="/admin/ManagerRevenue">Revenue</li>
                <li>Order</li>
                <li>Bill</li>
            </ul>
        </li>
        <li class="item">warehouse<img src="/Client/src/assets/img/svg/arrow.svg">
            <ul class="none">
                <li routerLink="/admin/ManagerProduct" >Product</li>
                <li routerLink="/admin/ManagerGem">Gem</li>
                <li routerLink="/admin/ManagerGift">Gift</li>
            </ul>
        </li>
        <li class="item">Event<img src="/Client/src/assets/img/svg/arrow.svg">
            <ul class="none">
                <li routerLink="/admin/ManagerDiscount" >Discount</li>
                <li routerLink="/admin/ManagerGift">Gift</li>
            </ul>
        </li>
        <li class="item" routerLink="/admin/ManagerNews" >News</li>

    </ul>
</div>