<div class="menu">
    <ul>
        <li class="item">manager<img src="svg/arrow.svg">
            <ul class="none">
                <li>revenue</li>
                <li>order</li>
                <li>bill</li>
            </ul>
        </li>
        <li class="item">warehouse<img src="svg/arrow.svg">
            <ul class="none">
                <li>product</li>
                <li>gem</li>
                <li>Present</li>
            </ul>
        </li>
        <li>
            
        </li>
    </ul>
</div>