<div class="app__container">
    <div class="container-slideShow">
        <img src="../assets/img/png/slider.png" alt="">
    </div>
    <div class="grid">
        <div class="grid__row grid__column-4-mobile">
            <div class="grid__column-4">
                <img class="img-inner" src="../assets/img/png/news-1.png" alt="">
            </div>
            <div class="grid__column-4">
                <img class="img-inner" src="../assets/img/png/news-2.png" alt="">
            </div>
            <div class="grid__column-4">
                <img class="img-inner" src="../assets/img/png/news-1.png" alt="">
            </div>
        </div>
    </div>
    <!-- container product -->
    <div class="container-product-of-ours">
        <div class="container-product-title">
            <i class="container-product-title-icon fa-solid fa-basket-shopping"></i>
            <span> OUR PRODUCTS</span>
        </div>
        <div class="grid__row">
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <!-- <div class="add-to-cart-button">
                                        <a href="" class="add-to-cart">ADD TO CART </a>
                                    </div> -->
                        <div class="added-to-cart-button">
                            <a href="" class="added-to-cart-text">XEM GIỎ HÀNG </a>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__column-3">
                <div class="product-item">
                    <div class="grid__column-3-img">
                        <img class="grid__column-3-img__no-hover" src="../assets/img/png/test2.png" alt="">
                        <img class="grid__column-3-img__has-hover" src="../assets/img/png/test1.png" alt="">
                    </div>

                    <div class="product-content">
                        <p class="product-name">
                            <a class="product-name-link">Citrine Natural Gemstone Ring</a>
                        </p>
                        <div class="product-price">
                            <span class="product-price__number">100</span>
                            <span class="product-price-d">$</span>
                        </div>
                        <div class="add-to-cart-button">
                            <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-product-popular">
        <div class="grid">
            <div class="product-popular-title">
                <i class="container-product-title-icon fa-solid fa-basket-shopping"></i>
                <span>FEATURED PRODUCTS</span>
            </div>
            <div class="grid__row">
                <div class="grid__column-6">
                    <div class="product-item product-item__column-6">
                        <div class="grid__column-6-img">
                            <img class="grid__column-6-img__no-hover" src="../assets/img/png/column-6-1.jpg" alt="">
                            <img class="grid__column-6-img__has-hover" src="../assets/img/png/column-6.jpg" alt="">

                        </div>
                        <div class="product-content">
                            <div class="product-content-inner">
                                <p class="product-name">
                                    <a class="product-name-link">Citrine Natural Gemstone Ring
                                    </a>
                                </p>
                                <div class="product-price">
                                    <span class="product-price__number">100</span>
                                    <span class="product-price-d">$</span>
                                </div>
                                <div class="add-to-cart-button">
                                    <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-6 grid__column-6-mobile">
                    <div class="product-item product-item__column-6">
                        <div class="grid__column-6-img">
                            <img class="grid__column-6-img__no-hover" src="../assets/img/png/column-6-1.jpg" alt="">
                            <img class="grid__column-6-img__has-hover" src="../assets/img/png/column-6.jpg" alt="">
                        </div>
                        <div class="product-content">
                            <div class="product-content-inner">
                                <p class="product-name">
                                    <a class="product-name-link">Citrine Natural Gemstone Ring
                                    </a>
                                </p>
                                <div class="product-price">
                                    <span class="product-price__number">100</span>
                                    <span class="product-price-d">$</span>
                                </div>
                                <div class="add-to-cart-button">
                                    <p><a href="" class="add-to-cart">ADD TO CART </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-product-news">
        <div class="grid">
            <div class="container-product-title">
                <i class="container-product-title-icon fa-solid fa-basket-shopping"></i>
                <span> NEWS</span>
            </div>
            <div class="product-news-main">
                <div class="grid__row">
                    <div class="grid__column-4">
                        <img class="product-news-img-inner padding-right__inherit" src="../assets/img/png/news-1.png"
                            alt="">
                        <h3 class="product-news-title">
                            <a href="">How to walk in the right high heels
                                way</a>
                        </h3>
                        <span class="product-news-date">12/29/2022</span>
                        <h4 class="product-news-content"><a href="">Aloe vera is also known as aloe vera, aloe vera or
                                Long tu is likened to a "god"
                                medicine" of the skin with many beauty effects. With many ways to whiten skin with
                                Natural masks are the beauty trend of many women by. With many
                                how to whiten skin with
                                Natural masks are a beauty trend of many women because</a></h4>
                    </div>
                    <div class="grid__column-4">
                        <img class="product-news-img-inner" src="../assets/img/png/news-1.png" alt="">
                        <h3 class="product-news-title">
                            <a href="">
                                5 effective ways to beautify with fresh aloe vera
                            </a>
                        </h3>
                        <span class="product-news-date">12/29/2022</span>
                        <h4 class="product-news-content"><a href="">Aloe vera is also known as aloe vera, aloe vera or
                                Long tu is likened to a "god"
                                medicine" of the skin with many beauty effects. With many ways to whiten skin with
                                Natural masks are the beauty trend of many women by. With many
                                how to whiten skin with
                                Natural masks are a beauty trend of many women because</a></h4>
                    </div>
                    <div class="grid__column-4 padding-left__inherit">
                        <img class="product-news-img-inner" src="../assets/img/png/news-1.png" alt="">
                        <h3 class="product-news-title">
                            <a href="">Lose belly fat fast</a>
                        </h3>
                        <span class="product-news-date">12/29/2022</span>
                        <h4 class="product-news-content"><a href="">Aloe vera is also known as aloe vera, aloe vera or
                                Long tu is likened to "God"
                                medicine" of the skin with many beauty effects. With many ways to whiten skin with
                                Natural masks are a beauty trend of many women by. With many
                                how to whiten skin with
                                Natural masks are a beauty trend of many women because</a></h4>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div class="container-bottom">
        <!-- <img src="../assets/img/png/background-container-bottom.jpg" alt="" class="bg-image1"> -->
        <div class="grid">
            <ul class="container-bottom-list">
                <li class="container-bottom__item container-colection">COLLECTION 2023</li>
                <li class="container-bottom__item container-ship">FREESHIP</li>
                <li class="container-bottom__item container-price">FOR ORDER OVER 200$</li>
                <li class="container-bottom__item container-text">THIS PROGRAM IS APPLICATION ON EVERY EYE
                    OUR GOODS
                </li>
            </ul>
        </div>
    </div>
</div>