<div class="app__container">
    <div class="grid">
        <div class="app__container-wrap">
            <div class="grid__column-4">
                <img class="grid__column-4-news_img" src="../assets/img/png/news1.png" alt="">
            </div>
            <div class="grid__column-8 grid__column-9__max-width">
                <span class="grid__column-9-news-title">WHAT IS DIAMOND LAB-GROWN? SHOULD I BUY LAB-GROWN
                    DIAMOND?</span>
                <span class="grid__column-9-news-content ">
                    A lab-grown diamond is like a natural diamond mined under the earth's crust. They have similar
                    physical and chemical properties and are grown under the same conditions of temperature and
                    pressure. However, the price of Lab-grown diamonds is only 50% of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality. However, the price of Lab-grown diamonds is only 50%
                    of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality.
                </span>

            </div>
        </div>
        <div class="app__container-wrap">
            <div class="grid__column-4">
                <img class="grid__column-4-news_img" src="../assets/img/png/news2.png" alt="">
            </div>
            <div class="grid__column-8 grid__column-9__max-width">
                <span class="grid__column-9-news-title">WHAT IS DIAMOND LAB-GROWN? SHOULD I BUY LAB-GROWN
                    DIAMOND?</span>
                <span class="grid__column-9-news-content ">
                    A lab-grown diamond is like a natural diamond mined under the earth's crust. They have similar
                    physical and chemical properties and are grown under the same conditions of temperature and
                    pressure. However, the price of Lab-grown diamonds is only 50% of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality. However, the price of Lab-grown diamonds is only 50%
                    of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality.
                </span>

            </div>
        </div>
        <div class="app__container-wrap">
            <div class="grid__column-4">
                <img class="grid__column-4-news_img" src="../assets/img/png/news3.png" alt="">
            </div>
            <div class="grid__column-8 grid__column-9__max-width">
                <span class="grid__column-9-news-title">WHAT IS DIAMOND LAB-GROWN? SHOULD I BUY LAB-GROWN
                    DIAMOND?</span>
                <span class="grid__column-9-news-content ">
                    A lab-grown diamond is like a natural diamond mined under the earth's crust. They have similar
                    physical and chemical properties and are grown under the same conditions of temperature and
                    pressure. However, the price of Lab-grown diamonds is only 50% of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality. However, the price of Lab-grown diamonds is only 50%
                    of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality.
                </span>
            </div>
        </div>
        <div class="app__container-wrap">
            <div class="grid__column-4">
                <img class="grid__column-4-news_img" src="../assets/img/png/news4.png" alt="">
            </div>
            <div class="grid__column-8 grid__column-9__max-width">
                <span class="grid__column-9-news-title">WHAT IS DIAMOND LAB-GROWN? SHOULD I BUY LAB-GROWN
                    DIAMOND?</span>
                <span class="grid__column-9-news-content ">
                    A lab-grown diamond is like a natural diamond mined under the earth's crust. They have similar
                    physical and chemical properties and are grown under the same conditions of temperature and
                    pressure. However, the price of Lab-grown diamonds is only 50% of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality. However, the price of Lab-grown diamonds is only 50%
                    of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality.
                </span>
            </div>
        </div>
        <div class="app__container-wrap">
            <div class="grid__column-4">
                <img class="grid__column-4-news_img" src="../assets/img/png/news5.png" alt="">
            </div>
            <div class="grid__column-8 grid__column-9__max-width">
                <span class="grid__column-9-news-title">WHAT IS DIAMOND LAB-GROWN? SHOULD I BUY LAB-GROWN
                    DIAMOND?</span>
                <span class="grid__column-9-news-content ">
                    A lab-grown diamond is like a natural diamond mined under the earth's crust. They have similar
                    physical and chemical properties and are grown under the same conditions of temperature and
                    pressure. However, the price of Lab-grown diamonds is only 50% of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality. However, the price of Lab-grown diamonds is only 50%
                    of the price of natural diamonds.
                    This means that for the same price you have a chance to own a Lab-grown diamond that is 2 times the
                    size of a natural diamond of the same quality.
                </span>
            </div>
        </div>
    </div>
</div>