<div class="app__container-cart-page">
    <div class="grid">
        <div class="grid__row">
            <div class="cart-page-title">
                <span class="cart-page__text">SHOPPING CART</span>
            </div>
            <div class="cart-page-main">
                <div class="grid__column-8">
                    <div class="grid__row">
                        <div class="grid__column-3">
                            <img src="../assets/img/png/cart1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>