<div class="app__container-cart-page">
    <div class="grid">
        <div class="grid__row">
            <div class="cart-page-title">
                <span class="cart-page__text">SHOPPING CART</span>
            </div>
            <div class="cart-page-main">
                <div class="grid__column-8">
                    <div class="grid__row">
                        <div class="grid__column-3">
                            <img class="grid__column-3__img" src="../assets/img/png/cart1.png" alt="">
                        </div>
                        <div class="grid__column-9">
                            <div class="box__info-product">
                                <p class="box__info-name">Natural Gemstone Ring Citrine 6mm flower - 10</p>
                                <p class="box__info-brands">Brand: Evo Jewelry</p>
                                <p class="box__info-action">Xóa</p>
                            </div>
                            <div class="box__price">
                                <p class="box__price-number">3200.99</p>
                                <p class="box__price-dollars">$</p>
                            </div>
                            <div class="quantity__block">
                                <button class="quantity__block-btn" type="button">-</button>
                                <p class="quantity__block-number">1</p>
                                <button class="quantity__block-btn" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid__row">
                        <div class="grid__column-3">
                            <img class="grid__column-3__img" src="../../../assets/img/png/test1.png" alt="">
                        </div>
                        <div class="grid__column-9">
                            <div class="box__info-product">
                                <p class="box__info-name">Ring Citrine 6mm flower - 10</p>
                                <p class="box__info-brands">Brand: Evo Jewelry</p>
                                <p class="box__info-action">Xóa</p>
                            </div>
                            <div class="box__price">
                                <p class="box__price-number">4380.33</p>
                                <p class="box__price-dollars">$</p>
                            </div>
                            <div class="quantity__block">
                                <button class="quantity__block-btn" type="button">-</button>
                                <p class="quantity__block-number">1</p>
                                <button class="quantity__block-btn" type="button">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid__row">
                        <div class="grid__column-3">
                            <img class="grid__column-3__img" src="../assets/img/png/cart1.png" alt="">
                        </div>
                        <div class="grid__column-9">
                            <div class="box__info-product">
                                <p class="box__info-name">Natural Gemstone Ring Citrine 6mm flower - 10</p>
                                <p class="box__info-brands">Brand: Evo Jewelry</p>
                                <p class="box__info-action">Xóa</p>
                            </div>
                            <div class="box__price">
                                <p class="box__price-number">3000000</p>
                                <p class="box__price-dollars">$</p>
                            </div>
                            <div class="quantity__block">
                                <button class="quantity__block-btn" type="button">-</button>
                                <p class="quantity__block-number">1</p>
                                <button class="quantity__block-btn" type="button">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__column-4">
                    <div class="box__cart">
                        <div class="box__cart-item">
                            <p class="box__cart-item__title">Temporary :</p>
                            <p class="box__cart-item__price price__Temporary">4380.33 $</p>
                        </div>
                        <div class="box__cart-item">
                            <p class="box__cart-item__title">Price :</p>
                            <p class="box__cart-item__price">4380.33 $</p>
                        </div>
                        <button routerLink="/user/CustomOderPage" class=" btn cart__button" type="button">PAY
                            NOW</button>
                        <button routerLink="/user/product" class=" btn cart__button-checkout" type="button">CONTINUE
                            SHOPPING</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>