.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}


.grid__full-width {
    width: 1200px;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* responsive Test*/

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}


.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}





/* Animation */
/* opacity: độ trong suốt */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }

    to {
        transform: scale(var(--growth-to));
    }
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.modal__body {
    /* width: 300px;
    height: 300px; */
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}


/* button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    line-height: 1.6rem;
}

.btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn--disabled {
    cursor: default;
    background-color: #999;
}

/* selection */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* App Container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    margin-top: 0;
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -0.5px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}


.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 7px;
    transform: translateY(calc(-50% - 1px));
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Home */
.home {
    display: f, lex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 0px 22px0px 0px;
}

.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: #efeded;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}


.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    content: "";
    border-right: 1px solid #eee;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disabled {
    background-color: #F9F9F9;

}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
    cursor: default;
}

/* Product item */
.home-product-item {
    background-color: var(--white-color);
    margin-top: 10px;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis; */
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item-like {
    font-size: 1.3rem;
}

i.home-product-item-like-icon-fill {
    color: #F63D30;
    display: none;
}

.home-product-item-like--liked i.home-product-item-like-icon-fill {
    display: inline-block;
}

.home-product-item-like--liked i.home-product-item-like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 0.6rem;
    color: #D5D5D5;
    margin: 1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 3px 10px 0;
    color: #595959;
    font-weight: 200;
    font-size: 1.1rem;
    /* justify-content: space-between; */
}

.home-product-item__brand {
    margin-right: auto;
}


/* Nhan yeu thich */
/* 
.home-product-item__origin-name {}

.home-product-item__favourite {}

.home-product-item__sale-off {}

.home-product-item__sale-off-percent {}

.home-product-item__sale-off-label {} */