<footer class="footer">
    <img src="../assets/img/png/footer.png" alt="background image" class="bg-image">

    <div class="grid">
        <div class="grid__column-3">
            <h3 class="footer-title"> LIÊN HỆ CHÚNG TÔI</h3>
            <div class="footer-main footer-main__mobile">
                <ul class="footer-list">
                    <li class="footer__item">
                        <span class="footer__item-con"><i class="fa-sharp fa-solid fa-house-chimney"></i></span>
                        <span class="footer__item-text">54 LE THANH NGHI, HAI BA TRUNG</span>
                    </li>
                    <li class="footer__item">
                        <span class="footer__item-con"><i class="fa-solid fa-phone"></i></span>
                        <span class="footer__item-text"> Hotline: 0999000000</span>
                    </li>
                    <li class="footer__item">
                        <span class="footer__item-con"><i class="fa-solid fa-envelope"></i></span>
                        <span class="footer__item-text"> Email : email@gmail.com</span>
                    </li>
                    <li class="footer__item">
                        <span class="footer__item-con"><i class="fa-brands fa-facebook"></i></span>
                        <span class="footer__item-text"> Facebook : fb.com/FacebookforDevelopers</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__column-3">
            <h3 class="footer-title"> Link</h3>
            <div class="footer-main footer-main__mobile">
                <ul class="footer-list-contact">
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-con"><i class="fa-sharp fa-solid fa-house-chimney"></i></span>
                        <span class="footer-contact__item-text">Home</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">Product</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">About Us</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-con"><i class="fa-regular fa-address-card"></i></span>
                        <span class="footer-contact__item-text"> Contact</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-con"> <i class="fa-regular fa-newspaper"></i></span>
                        <span class="footer-contact__item-text"> News</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text"> Pay</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__column-3">
            <h3 class="footer-title">Product portfolio</h3>
            <div class="footer-main footer-main__mobile">
                <ul class="footer-list-contact">
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text"> Necklace</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">Gemstone</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">Ring</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">category 1</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">category 2</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__column-3">
            <h3 class="footer-title"> FANPAGE FACEBOOK</h3>
            <div class="footer-main footer-main__mobile">
                <ul class="footer-list-contact">
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">category 1</span>
                    </li>
                    <li class="footer-contact__item">
                        <span class="footer-contact__item-text">category 2</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>