<div class="app__container">
    <div class="banner__top">
        <div class="grid">
            <div class="banner__top-right">
                <h3 class="banner__top-title">
                    EVO JEWELRY - TALES OF HAPPINESS
                </h3>
                <h4 class="banner__top-content">
                    First launched to the market in 2015, Huy Thanh wishes to bring Wedding Rings & Gold Jewelry
                    products
                    that
                    are invested in design, transparent about goods transaction information and provide customers with
                    after-sales service. entirety.
                </h4>
                <h4 class="banner__top-content">
                    By 2022, along with the repositioning of the brand, Huy Thanh will change its identity and business
                    strategy. Still keeping the core values ​​of products, Huy Thanh wishes that each wedding ring or
                    jewelry
                    will help customers mark moments and happy stories throughout their lives.
                </h4>
            </div>
        </div>

    </div>
    <div class="aboutUs-content">
        <div class="grid">
            <div class="aboutUs-content-wrap">
                <div class="grid__column-6">
                    <h3 class="aboutUs-content_title">EXCLUSIVE DESIGN FROM KOREA</h3>
                    <h4 class="aboutUs-content_child">
                        With the vision of becoming a "trending jewelry retailer", Huy Thanh jewelry has a youthful and
                        modern style, constantly updating new trends from Korea. Thanh Jewelry includes: Wedding Rings,
                        Wedding Jewelry and Modern Jewelry for Women. innovation, breakthrough in design and
                        manufacturing technology.
                    </h4>
                </div>
                <div class="grid__column-6">
                    <img class="grid__column-6-img" src="../assets/img/png/aboutUs.png" alt="">
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="aboutUs-content-wrap">
                <div class="grid__column-6">
                    <img class="grid__column-6-img aboutUs-content-wrap_img" src="../assets/img/png/about2.png" alt="">
                </div>
                <div class="grid__column-6 aboutUs-content-wrap_child">
                    <h3 class="aboutUs-content_title">
                        HAPPY STORIES
                    </h3>
                    <h4 class="aboutUs-content_child ">
                        Carrying the mission of becoming a companion who always understands and cherishes every moment
                        in the life of customers, Huy Thanh Jewelry's slogan is "Tales of Happines". Happiness, love,
                        memories, ... are shaped into gold jewelry - a valuable material that never fades away so that
                        the jewelry is not only durable, but always reminds each person of each memorable milestone
                        experienced. via.

                    </h4>
                    <h4 class="aboutUs-content_child ">
                        The necklace that the boyfriend personally chose to buy for his lover on the anniversary of the
                        two of them.
                    </h4>
                    <h4 class="aboutUs-content_child ">
                        A pair of earrings that a daughter received her first month's salary and bought for her mother.
                        Couple of wedding rings two lovers choose for a new chapter of husband and wife bonding.
                    </h4>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="aboutUs-content-wrap">
                <div class="grid__column-6">
                    <h3 class="aboutUs-content_title">EXCLUSIVE DESIGN FROM KOREA</h3>
                    <h4 class="aboutUs-content_child">
                        With the vision of becoming a "trending jewelry retailer", Huy Thanh jewelry has a youthful and
                        modern style, constantly updating new trends from Korea. Thanh Jewelry includes: Wedding Rings,
                        Wedding Jewelry and Modern Jewelry for Women. innovation, breakthrough in design and
                        manufacturing technology.
                    </h4>
                </div>
                <div class="grid__column-6">
                    <img class="grid__column-6-img" src="../assets/img/png/about3.png" alt="">
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="aboutUs-content-wrap">
                <div class="grid__column-6">
                    <img class="grid__column-6-img aboutUs-content-wrap_img" src="../assets/img/png/about4.png" alt="">
                </div>
                <div class="grid__column-6 aboutUs-content-wrap_child">
                    <h3 class="aboutUs-content_title">
                        HAPPY STORIES
                    </h3>
                    <h4 class="aboutUs-content_child ">
                        Carrying the mission of becoming a companion who always understands and cherishes every moment
                        in the life of customers, Huy Thanh Jewelry's slogan is "Tales of Happines". Happiness, love,
                        memories, ... are shaped into gold jewelry - a valuable material that never fades away so that
                        the jewelry is not only durable, but always reminds each person of each memorable milestone
                        experienced. via.

                    </h4>
                    <h4 class="aboutUs-content_child ">
                        The necklace that the boyfriend personally chose to buy for his lover on the anniversary of the
                        two of them.
                    </h4>
                    <h4 class="aboutUs-content_child ">
                        A pair of earrings that a daughter received her first month's salary and bought for her mother.
                        Couple of wedding rings two lovers choose for a new chapter of husband and wife bonding.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>