.information {
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 8px;

}

.products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products>div {
    margin-top: 20px;
    width: 23%;
    border: 1px gray solid;
    border-radius: 12px;
    padding: 20px;
}

.products>div:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.img_product {
    width: 100%;
    height: auto;
}

.img_product img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.products>div:first-child {
    margin-top: 0px;
    /* width: 23%; */
}


.index {
    display: none;
}





table {
    width: 100%;
    border-collapse: collapse;
}

table td,
th {
    border: 1px solid gray;
    border-spacing: 0px;
}

td,
th {
    padding: 5px 12px;
}

tr td:first-child {
    text-align: center;

}

span {
    display: flex;
    justify-content: space-between;
}

span img {
    display: none;
}

ul {
    margin: 0px;
    display: flex;
    padding: 0px;
    align-items: center;
    /* height: 100%; */
    justify-content: end;
}



ul li {
    list-style-type: none;
    height: 50%px;
    cursor: pointer;
    padding: 20px;
    justify-content: center;
    display: flex;
    width: 100px;

}

.hover {
    /* display: block; */
    position: absolute;
    display: none;
}

.hover ul li {
    background-color: #71b85e;
    border: solid 1px gray;

}


.tool>li:hover .hover {
    display: block;
    margin-top: 36px;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */

}

.hover ul li:hover {
    background-color: #a3db93;
}

.tool>li:hover {
    z-index: 100;
    background-color: white;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}

tbody tr:hover {
    background-color: #a3db93;
}

tbody tr td:hover img {
    background-color: #a3db93;
    display: block;
}