.information {
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 8px;

}

.products{
    flex-direction: row;
    flex-wrap: wrap;
}

.products > div{
   
    width: 23%;
}   
.table{
    display: none;
}



table{
    width: 100%;
    border-collapse: collapse;
}

table td ,th {
    border: 1px solid gray;
    border-spacing: 0px;
}

td , th {
    padding: 5px 12px;
}

tr td:first-child{
    text-align: center;

}

 ul {
    margin: 0px;
    display: flex;
    padding: 0px;
    align-items: center;
    height: 100%;
    justify-content: end;
  }
  
  
  
  ul li{
    list-style-type: none;
    height: 50%px;
    cursor: pointer;
    padding: 20px;
  }
  