<div class="product__detail">
    <div class="grid">
        <div class="product__detail-wrap">
            <div class="grid__column-6">
                <img class="grid__column-6-img" src="../assets/img/png/aboutUs.png" alt="">
            </div>
            <div class="grid__column-6">
                <h3 class="aboutUs-content_title">EXCLUSIVE DESIGN FROM KOREA</h3>
                <div class="product__detail-group">
                    <div class="product__detail-list">
                        <div class="product__detail-item">
                            <p class="product__detail-item-child"> Product code</p>:
                            <p class="product__detail-item-child">2222</p>
                        </div>
                        <div class="product__detail-item">
                            <p class="product__detail-item-child"> Brand</p>:
                            <p class="product__detail-item-child ">Evo Jewelry</p>
                        </div>
                        <div class="product__detail-item">
                            <p class="product__detail-item-child"> Status</p>:
                            <p class="product__detail-item-child">Stocking</p>
                        </div>
                    </div>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-current">900.00$</span>
                        <span class="home-product-item__price-old">999.00$</span>

                    </div>
                </div>
                <div _ngcontent-xyh-c33="" class="add-to-cart-button">
                    <p class="add-to-cart-button-hover" _ngcontent-xyh-c33=""><a _ngcontent-xyh-c33="" href=""
                            class="add-to-cart">ADD TO CART </a></p>
                </div>
                <div _ngcontent-xyh-c33="" class="add-to-cart-infor">
                    <span class="add-to-cart-infor-hover" _ngcontent-xyh-c33="">
                        Call
                    </span>
                    <span class="add-to-cart-infor-number" _ngcontent-xyh-c33="">
                        19006750
                    </span>
                    <span class="add-to-cart-infor-hover" _ngcontent-xyh-c33="">
                        for consultation and purchase.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>