@font-face {
    font-family: 'NTR';
    src: url('/Client/src/assets/Font/font_ntr ') format('truetype');
}
*{
  font-family: 'NTR', sans-serif;
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'NTR', sans-serif;

}

.header{
  position: relative;
  display: flex;
  justify-content: space-between;
   width: 100%;
   height: 50px;
   background-color: #ededed;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



.header ul {
  margin: 0px;
  display: flex;
  padding: 0px;
  align-items: center;
  height: 100%;
}



ul li{
  list-style-type: none;
  height: 50%px;
  cursor: pointer;
}


.center > li {
  margin-right: 25px;
}



.icon {
  display: flex;
  justify-content: center;
  align-items: center	;
}

.list{
  width: 50px;
  height: 50px;
  background-color: #71b85e;
}

.shortcuts{
    background-color: #63a851;
    width: 50px;
    height: 50px;
}

.search{
  display: flex;
}

.search input{
  display: none;
  transition: 0.5s;
}

.searchs{
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
/*			border: 1px solid gray;*/
  width: 250px;
  justify-content: space-evenly;
  height: 25px;
  align-items: center;
  transition: 0.5s;
}

.searchs input{
  width: 70%;
  outline: none;
  border: none;
  background-color: transparent;
}

.search input {
  background-color: transparent;
  border: none ;

}

.end li ,  .center .search{
  margin: 0px 10px 0px 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.end li:last-child{
  border-left: 1px black solid ;
  border-radius: 0%;
  box-shadow: none ;
}

.avata{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.center .adds{
  height: 100%;
  width: 70px;
  justify-content: space-evenly;
}

.adds:hover .add{
  display: block;
  transition: 1.5s;	
}

.add{
  position: absolute;
  background-color: #71b85e ;
  top: 50px;
  transition: 0.5s;	
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: none;
}

.add li{
  padding: 15px;
  width: 90px;
  text-align: center	;
  border: solid 1px gray;
  justify-content: space-evenly;
}

.add .icon:hover{
  background-color: #88c778;
}

