<div class="header">
    <ul class="start">
        <li class="icon list"><img src="/Client/src/assets/img/svg/list.svg"></li>
        <li class="icon shortcuts"><img src="/Client/src/assets/img/svg/bell.svg"></li>
        <li class="icon shortcuts"><img src="/Client/src/assets/img/svg/mail.svg"></li>
        <li class="icon shortcuts"><img src="/Client/src/assets/img/svg/list.svg"></li>
    </ul>
    <ul class="center">
        
        <li routerLink="/admin/Dashboard">Dashboard</li>
        <li class="icon adds">
            <img src="/Client/src/assets/img/svg/add.svg">
            Add 
            <img src="/Client/src/assets/img/svg/down.svg">
            <div class="add">
                <ul >	
                    <li routerLink="/admin/AddGem" class="icon"><img src="/Client/src/assets/img/svg/gem.svg">Gem</li>
                    <li routerLink="/admin/Addproduct" class="icon"><img src="/Client/src/assets/img/svg/product.svg">Product</li>
                    <li routerLink="/admin/AddGift" class="icon"><img src="/Client/src/assets/img/svg/gift.svg">Gift</li>
                </ul>
                <ul>
                    <li routerLink="/admin/AddBrand" class="icon">Brand</li>
                    <li routerLink="/admin/AddNews" class="icon">News</li>
                    <li routerLink="/admin/AddDiscount" class="icon">Discount</li>
                </ul>
            </div>

        </li>
        <li class="icon search" id="search"  (click)="changeClass()"><img src="svg/search.svg"><input type="text" name=""></li>
    </ul>
    <ul class="end">
        <li class="icon"><img src="/Client/src/assets/img/svg/chart.svg"></li>
        <li class="icon"><img src="/Client/src/assets/img/svg/box.svg"></li>
        <li class=" icon "><img src="/Client/src/assets/img/svg/bell.svg"></li>
        <li class="icon"><img src="/Client/src/assets/img/svg/list.svg"></li>
    </ul>
</div>
