<div class="information">
    <h2>Category List</h2>
    <div class="list ">
        <table class="">
            <thead>
                <tr>
                    <th>
                        <div class="flex">
                            STT
                            <div class="hover">
                                <ul class="">
                                    <li (click)="resetSort()">
                                        <img src="../../../assets/img/svg/arrow-down-square-fill.svg" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th>
                    <th>name</th>
                    
                    <th>
                        <div class="flex">
                            Description

                            <!-- <div class="hover">
                                <ul >
                                    <li (click)="sortByDiscount('asc')">
                                        <img src="../../../assets/img/svg/arrow-down-square-fill.svg" alt="">
                                    </li>
                                    <li (click)="sortByDiscount('desc')">
                                        <img src="../../../assets/img/svg/arrow-up-square-fill.svg" alt="">
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="category">
                <tr *ngFor="let Category of category | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                    <td>{{ Category.id }}</td>
                    <td routerLink="ImportProducts/{{Category.id}}">{{ Category.name }}</td>
                    <!-- <td>{{Category.products}}</td> -->
                    <td routerLink="ImportProducts/{{Category.id}}">{{ Category.description }}</td>
                </tr>

            </tbody>
        </table>
        <div class="pagination">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>


</div>

