<div class="app__container-contact">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-4">
                <h3 class="grid__column-4-contact-title">
                    Leave message
                </h3>
                <span class="grid__column-4-contact-content">What Evo Jewelry cherishes the most is to love always by
                    your side without leaving each jewelry
                    product you wear with you. Not only important milestones, Evo Jewelry identifies & "captures" love
                    from the most simple and everyday things.
                </span>
                <ul class="column-4-contact-list">
                    <li class="column-4-contact__item">
                        <span class="column-4-contact__item-icon">
                            <i class="fa-sharp fa-solid fa-location-dot"></i>
                        </span>
                        <span class="column-4-contact__item-text">
                            54 Le Thanh Nghi, Hai Ba Trung, Ha Noi.
                        </span>
                    </li>
                    <li class="column-4-contact__item">
                        <span class="column-4-contact__item-icon">
                            <i class="fa-solid fa-phone-volume"></i>
                        </span>
                        <span class="column-4-contact__item-text">
                            0965928483
                        </span>
                    </li>
                    <li class="column-4-contact__item">
                        <span class="column-4-contact__item-icon">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
                        <span class="column-4-contact__item-text">
                            Ha@gmail.com.vn
                        </span>
                    </li>
                </ul>
            </div>
            <div class="grid__column-8">
                <div class="form-signup grid__row">
                    <div class="grid__column-4">
                        <label class="signup__title" for="">FullName</label>
                        <input placeholder="Enter FullName" type="text" name="name" id="name" data-validation="required"
                            required="">
                    </div>
                    <div class="grid__column-4">
                        <label class="signup__title" for="">Email</label>
                        <input placeholder="Enter Email" type="email" name="email" id="email" data-validation="email"
                            required="">
                    </div>
                    <div class="grid__column-4">
                        <label class="signup__title" for="">Phone</label>
                        <input placeholder="Enter Phone number" type="tel" name="phone" id="phone" data-validation="tel"
                            required="">
                    </div>
                    <div class="grid__column-12">
                        <label class="signup__title" for="">Content</label>
                        <textarea class="contact__textarea-content" placeholder="Contact content" id="comment"
                            data-validation="required" required=""></textarea>
                    </div>
                </div>
                <div class="form-signup-submit">
                    <button class="form-signup-button" type="submit">Submit</button>
                </div>
            </div>
        </div>
        <div class="grid__row">
            <div class="grid__column-12">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.13664580307!2d108.22055691414181!3d16.058397388887613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219cc2af84105%3A0x9a924a8e9c5e8751!2zMzAgMiBUaMOhbmcgOSwgQsOsbmggSGnDqm4sIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1558182318368!5m2!1svi!2s"
                    width="100%" height="450" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>