
.flex {
    display: flex;
}

.form {
    justify-content: space-between;
    padding:0 150px;
}

.information {
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #fff;

    border-radius: 8px;
}

.right {
    width: 100%;
}

.formadd>div {
    margin-top: 25px;
}

.formadd>div:first-child {
    margin-top: 0px;
}

/* .left {
    width: 27%;
}

.left .information{
    margin-top:20px ;
}

.left .information:first-child{
    margin-top: 0px;
} */

input , select{
    border: 1px gray solid;
    border-radius: 5px;
    padding: 5px 10px;
    height: 20px;
    width: 96%;
    background-color: transparent;
    outline: none;
}

.extra {
    width: 96%;
    justify-content: space-between;
}

.extra div {
    width: 47%;
}

.extra input {
    width: 100%;
}
/*
.show_list{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.show_img div , span{
   margin-top:15px ;
}

.show_img img {
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

span p{
    text-align: center;
}

.item_img{
    width: 23%; 
}

.add_img{
    border: none;
}

.add_extra{
    
    margin-top: 15px;
    height: 25px;
}

.add_img:first-child{
    margin-top: 0px;
} */

