<div class="add">
    <!-- <h2>from add product</h2> -->
    <form class="form flex" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="information  right formadd">
            <div>
                <p>General information</p>
            </div>
           
                <div>
                    <label for="">Name Discount</label><br>
                    <input type="text" id="name" formControlName="name" >
                </div>
                <div class="">
                    <label for="">Discount</label><br>
                    <input type="number"  id="discount" formControlName="discount" >
                </div>
            
                <div>
                    <label for="">Start day</label><br>
                    <input type="date" id="startDate" formControlName="startDate">
                </div>
                <div class="">
                    <label for="">End day</label><br>
                    <input type="date" id="endDate" formControlName="endDate">
                </div>         
                <div class="ckeditor"> <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" id="description" formControlName="description"></ckeditor></div>

            <button class="bt_add"  type="submit">Add Discount</button>
        </div>
    </form>
</div>